<div data-role="page" id="page1">

        <div data-theme="d" data-role="header">
                <a data-ajax="false" data-role="button" data-transition="fade" data-theme="c" href="/capture">&laquo; Back to capture</a>
                <h3>
			Thermal images
                </h3>
        </div>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Author</th>
    <th>Description</th>
    <!--<th></th>-->
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><a href="/images/<%= image.id %>"><img id="image" style="width:100%" src="<%= image.photo.url(:thumb) %>" /></a></td>
    <td><a href="/images/<%= image.id %>"><%= image.name %></a></td>
    <td><%= image.author %></td>
    <td><%= image.description %></td>
    <!--<td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

</div>
